header {
    background: #F99;
}

main {
    background: #9F9;
}

footer {
    background: #99F;
}



#rotctrl_cell {
    background: #FCC;
}
#collctrl_cell {
    background: #FAA;
}
#speedctrl_cell {
    background: #F88;
}
#stats_cell {
    background: #F55;
}
#emgstop_cell {
    background: #F00;
}

.slider_text {
    background: rgba(0, 0, 0, .2)
}