/* Set variables */
* {
    --header-bg: #00F;
    --header-txt: #CCC;
    --body-bg: #CCC;
    --body-txt: #000;
    --footer-bg: var(--header-bg);
    --footer-txt: var(--header-txt);
    --main-bg: #888;
    --cell-bg: var(--body-bg);
    --range-bg: rgba(0, 0, 0, .2);
    --range-bg-sel: rgba(0, 0, 0, .15);
    --range-hndl: #00F;
    --range-dspl-bg: rgba(0, 0, 0, .2);
    --range-dspl-txt: var(--main-txt);
    --slider-bg-off: rgba(0, 0, 0, .2);
    --slider-bg-on: #00F;
    --slider-hndl: white;
    --button-bg: #00F;
    --button-bg-actv: rgb(96, 96, 255);
    --emg-bg: red;
    --emg-txt: white;
    
    --range-thickness: 1.8em;
    --range-hnld-thickness: 2.8em;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Defining the cells */
body {
    display: grid;
    grid-template-rows: min-content auto min-content;
}

#grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
}

.cell {
    padding: calc(1.5em - 10px);
}

#rotctrl_cell {
    grid-column: 1 / 4;
    grid-row: 1;
}
#collctrl_cell {
    grid-column: 1;
    grid-row: 2 / 4;
}
#speedctrl_cell {
    grid-column: 2;
    grid-row: 2 / 4;
}
#stats_cell {
    grid-column: 3;
    grid-row: 2;
}
#emgstop_cell {
    grid-column: 3;
    grid-row: 3;
}

/*  */

header {
    padding: 1.5em;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/* Sliders */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--range-bg);
    outline: none;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
    border-radius: .6em;
}

input[type="range"]:hover {
    background: var(--range-bg-sel);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--range-hnld-thickness);
    height: var(--range-hnld-thickness);
    background: var(--range-hndl);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: var(--range-hnld-thickness);
    height: var(--range-hnld-thickness);
    background: var(--range-hndl);
    cursor: pointer;
    border-radius: 50%;
}

.slider_marker {
    font-size: 2.8em;
    text-decoration: none;
    color: var(--button-bg);
    text-shadow: black 2px 2px 2px;
    -webkit-transition: .1s;
    transition: text-shadow .1s;
    cursor: pointer;
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
}
.slider_marker:hover {
    text-shadow: black 1px 1px 1px;
}
.slider_marker:active {
    color: var(--button-bg-actv)
}

span.range_value {
    background: var(--range-dspl-bg);
    color: var(--range-dspl-txt);
    outline: none;
    border: none;
    border-bottom: black solid 1px;
    font-size: 2em;
}
input.range_value {
    background: none;
    outline: none;
    border: none;
    width: 2em;
    font-size: .8em;
    text-align: right;
}
.cell{
    text-align: center
}

#speedctrl_cell {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}
#speedctrl_cell .title {
    grid-column: 1 / 4;
}
.vertical_center  {
    position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);
}

.speed_range_center_cell {
    text-align: right;
    font-size: 1.5em;
}

#speed_range {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 500px;
    width: var(--range-thickness);
}

#rot_range {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: var(--range-thickness);
}


.slider_text {
    display: inline-block;
    width: 4em;
}
.slider_text.right{
    text-align: left
}
.slider_text.left{
    text-align: right
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1.2em;
}
.switch input {
    display: none;
}

#coll_pwr, #coll_dir {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg-off);
    -webkit-transition: .4s;
    transition: .4s;
}
  .slider:before {
    position: absolute;
    content: "";
    height: .8em;
    width: .8em;
    left: .2em;
    bottom: .2em;
    background-color: var(--slider-hndl);
    -webkit-transition: .4s;
    transition: .4s;
}
  input:checked + .slider {
    background-color: var(--slider-bg-on);
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--slider-bg-on);
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 1.5em;
}
  
  .slider.round:before {
    border-radius: 50%;
}

table {
    text-align: left;
}


#emgstop {
    font-size: 3em;
    width: 256px;
    height: 256px;
    background-color: var(--emg-bg);
    color: var(--emg-txt);
    font-weight: 900;
    border-radius: 50%;
    box-shadow: black 4px 4px 20px;
}
#emgstop:active{
    box-shadow: black 4px 4px 15px
}


header a.title {
    color: inherit;
    text-decoration: none;
}

header a.title .text {
    font-weight: bold;
    font-size: 2em;
}

/* Colors and styling */
body {
    background-color: var(--body-bg);
    color: var(--body-txt)
}
header {
    background: var(--header-bg);
    color: var(--header-txt);
}
footer {
    background: var(--footer-bg);
    color: var(--footer-txt);
}


main {
    background-color: var(--main-bg);
}

.cell {
    background-color: var(--cell-bg);
}

/*
#rotctrl_cell {
    background: #FCC;
}
#collctrl_cell {
    background: #FAA;
}
#speedctrl_cell {
    background: #F88;
}
#stats_cell {
    background: #F55;
}
#emgstop_cell {
    background: #F00;
}*/